.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 1 */
.btn-1 {
  background: var(--primary);
  background: var(--primary);
  border: none;
}
.btn-1:hover {
  background: #ff3fa8;
  background: #ff3fa8;
}

.uix_welcomeSection:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #00000066;
  /*url(https://i.ibb.co/NYrzRcr/top-snow-pattern-1.png)*/
}
.uix_welcomeSection:before {
  border-radius: 6px;
}
.uix_welcomeSection .uix_welcomeSection__inner {
  position: relative;
  color: #fff;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.media__container {
  display: flex;
}
.uix_welcomeSection .uix_welcomeSection__title {
  font-size: 26px;
  color: #fff;
  font-weight: 600;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-shadow: 0px 0px 5px #000, 0px 0px 6px #000, 0px 0px 7px #000;
}
.uix_welcomeSection .uix_welcomeSection__text {
  font-size: 16px;
  color: #fff;
  padding-top: 4px;
  padding-bottom: 15px;
  text-shadow: 0px 0px 5px #000, 0px 0px 6px #000, 0px 0px 7px #000;
}

.gift_snowBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 12px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}
.gift_snowflake1 {
  opacity: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  animation: gift_motes1 3s ease-in infinite;
  border-radius: 100%;
}
.gift_snowflake2 {
  opacity: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  animation: gift_motes2 3.5s ease-in infinite;
  border-radius: 100%;
}
.gift_snowflake3 {
  opacity: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  animation: gift_motes3 2s ease-in infinite;
  border-radius: 100%;
}
@keyframes gift_motes1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0%, -100%);
  }
  100% {
    opacity: 0;
    transform: translate(0%, 2500%);
  }
}
@keyframes gift_motes2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0%, -100%);
  }
  100% {
    opacity: 0;
    transform: translate(0%, 2800%);
  }
}
@keyframes gift_motes3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0%, -100%);
  }
  100% {
    opacity: 0;
    transform: translate(0%, 3200%);
  }
}

.button {
  position: relative;
}

.button::before {
  content: "";
  position: absolute;
  background: url(snow-repeating-02.png);
  border-radius: 2px;
  background-repeat: repeat-x;
  bottom: -13px;
  left: 0;
  right: 0;
  height: 20px;
  background-size: contain;
  pointer-events: none;
}

/* boton contenido*/
.surprise-button {
  background-color: #ffcc00;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.surprise-button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/*adivinanza*/
.adivinanza {
  text-align: center;
  margin-top: 6px;
  background-color: #69e18a;
  padding: 10px;
  border-radius: 8px;
}

.adivinanza h2,
.adivinanza p,
.adivinanza input,
.adivinanza button,
.adivinanza #result {
  margin: 10px;
}
input#guessInput {
  border: 1px #a7a7a7 solid;
}

button#guessButton {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}

.contenido-sorpresa {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

img.image-sorpresa {
  width: 60%;
  max-width: 311px;
}

/*texto typing*/
.css-typing p {
  border-right: 0.15em solid orange;
  font-family: "Courier";
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 7.3em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 11.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 7.3em;
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end),
    blink 0.5s step-end infinite alternate;
  animation: type3 5s steps(20, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
.notification {
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: 2px;
  right: 16px;
  padding: 1px 6px;
  border-radius: 50%;
  background: red;
  color: white;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: var(--header-bg);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: var(--description-color);
}

/* The Close Button */
.close {
  color: var(--description-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  fill: #818181;
}

.close:hover,
.close:focus {
  color: var(--description-color);
  text-decoration: none;
  cursor: pointer;
}
