.notification {
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: 2px;
  right: 16px;
  padding: 1px 6px;
  border-radius: 50%;
  background: red;
  color: white;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: var(--header-bg);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: var(--description-color);
}

/* The Close Button */
.close {
  color: var(--description-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  fill: #818181;
}

.close:hover,
.close:focus {
  color: var(--description-color);
  text-decoration: none;
  cursor: pointer;
}
